<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our First HTML</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="blue-back">
      <h1>TEST</h1>
      <!-- block level Element -->
      <h2 class="red-text">Smaller header</h2>
      <h3>smaller still</h3>
    </div>

    <span>span</span> <span class="red-text">no meaning</span>
    <span id="blue-text" class="red-text">blue</span>
    <!-- inline elements-->
    <div class="card">
      <h2 class="card-title">Card Title</h2>
      <img
        class="card-img"
        src="../static/imgs/capy.jpg"
        alt="cool capybara doing capybara things"
      />
      <p class="card-desc">Cool Text Go Here</p>
    </div>
  </body>
</html>
